/* Temas */
body.light-theme {
  background-color: #ffffff;
  color: #333333;
}

body.dark-theme {
  background-color: #333333;
  color: #ffffff;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.ytContainer {
  width: 90%;
  max-width: 1200px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.30);
  background-color: #000;
  overflow: hidden;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

.search-bar {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  font-size: 18px;
  border-radius: 25px;
  border: 1px solid #dcdcdc;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  transition: all 0.3s ease;
}

.search-bar:focus {
  outline: none;
  border-color: #4285f4;
  box-shadow: 0 2px 10px rgba(66, 133, 244, 0.4);
}

/* Para o tema claro */
body.light-theme .search-bar {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #dcdcdc;
}

body.light-theme .search-bar:focus {
  border-color: #4285f4;
  box-shadow: 0 2px 10px rgba(66, 133, 244, 0.4);
}

/* Para o tema escuro */
body.dark-theme .search-bar {
  background-color: #555555;
  color: #ffffff;
  border: 1px solid #444444;
}

body.dark-theme .search-bar:focus {
  border-color: #4285f4;
  box-shadow: 0 2px 10px rgba(66, 133, 244, 0.4);
}

.search-button {
  padding: 15px 20px;
  font-size: 18px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-button:hover {
  background-color: #357ae8;
}

.search-button:focus {
  outline: none;
  box-shadow: 0 2px 10px rgba(66, 133, 244, 0.4);
}

.error-container {
  margin-top: 20px;
  text-align: center;
}

.error-message {
  color: red;
  font-weight: bold;
}

ul {
  text-align: start;
}
