.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda a altura da tela */
  width: 100vw;  /* Ocupa toda a largura da tela */
  background-color: #000; /* Cor de fundo opcional */
}

.ytContainer {
  width: 90%;
  max-width: 1200px;
  border-radius: 6px;
  overflow: hidden;
}

.YouTubeEmbed {
  width: 80%;
  height: 80%;
}

.error-container {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  color: #721c24;
  border-radius: 5px;
  max-width: 600px;
  margin: 0 auto;
}

.error-title {
  font-size: 2rem;
  font-weight: bold;
}

.error-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.error-example {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
  overflow-x: auto;
}

.error-instruction {
  font-size: 1rem;
  margin-top: 10px;
}

ul, h3 {
  text-align: start;
}